[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pandas-datareader = "*"
matplotlib = "*"
beautifulsoup4 = "*"
scikit-learn = "*"
mplfinance = "*"
mpl-finance = {file = "https://github.com/matplotlib/mpl_finance/archive/master.zip"}
install = "*"

[requires]
python_version = "3.8"

[dev-packages]
mpl-finance = {file = "https://github.com/matplotlib/mpl_finance/archive/master.zip"}
